
@charset "UTF-8";

.login {
	background-color: gray;
	display: inline-block;
	padding: 10px;
	color: white;
	width: 800px;
	height: 400px;
	width: 100%;
	
}

.formatDate {

	display: inline-block;
	padding: 10px;
	color: white;
	width: 800px;
	height: 400px;
	width: 100%
}

.main{
	padding-top: 50px;
	padding-bottom: 50px;
}