@charset "UTF-8";
.login {
	background-color: gray;
	display: inline-block;
	padding: 10px;
	color: white;
	padding: 10px;
	font-size: 10px;
}

.login {
	background-color: gray;
	display: inline-block;
	padding: 10px;
	color: white;
}

.name {
	padding-top: 50px;
}

.id {
	padding-bottom: 50px;
}