@media screen and (max-width: 767px) {

    *{
        margin: 0;
        padding: 0;
    }
  
    .header {
     width: 300px;
     height: 100px;
     background-color: #141f40;
    
    }
    
    
    .left {
        width: 100px;
        height: 250px;
        background-color: #80bfa8;
        float: left;
    }

    .right {
        height: 250px;
        width:200px;
       float: left;
    }

    .right-upper-left-up{
        background-color: #bdb400;
        width: 125px;
        height: 50px;
      
    }
    .right-upper-left-low{
        background-color: #0093b7;
        width: 125px;
        height: 100px;
    } 
    
    .right-upper-right{
        background-color: #ff9e6b;
        width: 75px;
        height: 150px;
      
    }

    .right-lower {
        background-color: #8c2727;
        width: 200px;
        height: 100px; 
      
}
    
    .footer {
        width: 300px;
        height: 100px;
        background-color: #d98d30;
    }
    }

    @media screen and (max-width: 479px) {

        *{
            margin: 0;
            padding: 0;
        }
        
        .header {
         width: 150px;
         height: 100px;
         background-color: #141f40;
        
        }
        .main{
            width: 150px;
            height: 600px;
        }
        
        .left {
            width: 150px;
            height: 250px;
            background-color: #80bfa8;
            float: left;
          
        }
        .right {
            height: 350px;
            width: 150px;
        }
    
        .right-upper-left-up{
            background-color: #bdb400;
            width: 150px;
            height: 150px;
          
        }
        .right-upper-left-low{
            background-color: #0093b7;
            width: 150px;
            height: 100px;
        } 
        
        .right-upper-right{
            background-color: #ff9e6b;
            width: 150px;
            height: 100px;
            
        }
        .right-lower{
            background-color: #8c2727;
            width: 150px;
            height: 100px; 
          
    }
        .footer {
            width: 150px;
            height: 100px;
            background-color: #d98d30;
            float: left;
        }
        }