* {
    margin: 0;
    padding: 0;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.main {
    display: flex;
}

.header {
 width: 400px;
 height: 100px;
 background-color: #141f40;

}


.left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
  float: left;
} 

.right{
    width: 250px;
    height: 250px;
    float: right;
}

.right-upper-left-up{
    background-color: #bdb400;
    height: 50px;
    width: 150px;
 
 
}
.right-upper-left-low{
    background-color: #0093b7;
    width: 150px;
    height: 100px;
    
   
} 

.right-upper-right{
    background-color: #ff9e6b;
    width: 100px;
    height: 150px;
 float: right;
 
}

.right-lower {
    background-color: #8c2727;
    width: 250px;
    height: 100px; 

}


.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;

}
